<form action="{% url 'myapp:data' %}" method="GET" value="{{request.GET.q}}">
    <h6>Search </h6>   
    Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Data"/>
    <input type="submit" name="submit-btn" value="Search"/>
</form>
<div class="table-responsive">
    <table class="table" id="data-table">
        <thead>
        <tr>
            <th style="width:10%">ID</th>
            <th style="width:10%">Name</th>
            <th style="width:10%">Age</th>
            <th style="width:10%">Telephone</th>
            <th style="width:10%">Gender</th>
            <th style="width:10%">Address</th>
            <th style="width:10%">Marital Status</th>
            <th style="width:10%">Email</th>
                <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
            
        {% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
        <h2>Results for <b>{{ request.GET.q }}</b></h2>
        {% for result in results %}
            <tr>
            
                <td>
                {{result.id}}
                </td>
                <td>
                    {{result.name}}
                </td>
                <td>
                    {{result.age}}
                </td>
                <td>
                    {{result.telephone}}
                </td>
                <td>
                    {{result.gender}}
                </td>
                <td>
                    {{result.address}}
                </td>
                <td>
                {{result.marital_status}}
                </td>
                <td>
                    {{result.email}}
                </td>
                <td >
                    <button type="button"
                            class="btn btn-warning btn-sm js-update-data"
                            data-url="{% url 'myapp:update' result.id %}">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                </td>

            </tr>
        {% endfor%} 
        {% else %}
        <h5>No search results for this query</h5>
        {% endif %}
        {% endif %}   
        </tbody>
    </table>
</div>    

<!-- END SEARCH AREA-->
